<% @title = "Accounts list" %>
<%= erb :head%>

<div class='w3-container w3-margin'>
	<ul class="w3-ul w3-card-4">
		<% @list['accounts'].each do |account| %>
	    <li class="w3-bar">
	      <span onclick='location.replace("./account?id=<%=account['id']%>")' class="w3-bar-item w3-button w3-white w3-xlarge w3-right">></span>
	       <img src="./public/<%=$currencies[account['currencyCode'].to_s]%>.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
	      <div class="w3-bar-item">
	        <span class="w3-large"><%=account['maskedPan'].first%></span><br>
	        <span><%= account['balance'].to_f/100%> <%=$currencies[account['currencyCode'].to_s]%> <%=account['type']%></span>
	      </div>
	    </li>
	    <% end %>
	</ul>
</div>



