<div class='w3-dark-grey w3-bar w3-responsive'>
	<%if @list then%>
		<%@list.each do |account|%>
			<a href="./?id=<%=account[:id]%>">
				<div class='w3-bar-item w3-hover-<%= account[:type] %> w3-round-large' style="border-right: 1px solid black;font-size: 12px">
					<%= account[:maskedPan] %> <br>
					<%= account[:balance] %> <%= account[:currencyCode] %>
				</div>
			</a>
		<% end %>
<!-- HEADER WHEN ERROR -->
	<%else%>
		<a href="#" onclick="window.location.reload(true);">
			<div class='w3-bar-item w3-hover-black'>
				Reload Page
			</div>
		</a>
	<%end%>
</div>