<div class='w3-container w3-margin-bottom' style='width:100%'>
	<h1>Jars:</h1>
	<ul class="w3-ul w3-card-4" style='max-width: 700px; min-width: 340px'>
		<% @object.jars.each do |jar| %>
			<li class="w3-bar" >
				<img src="./public/<%=jar[:currencyCode]%>.png" class="w3-bar-item w3-circle w3-hide-small" style="width:81px">
				<div class="w3-bar-item">
						<span><%=jar[:title]%></span>
						<span class="w3-large"><b><%= jar[:balance]%></b> / <%=jar[:goal]%> <%=jar[:currencyCode]%></span><br>
						<span><%=jar[:comment]%></span>
				</div>
			</li>
		<%end%>
	</ul>
</div>