<%if @account_info['maskedPan'].empty? then @account_info['maskedPan'].push(@account_info['iban']) end %>
<% @title = "Account #{@account_info['maskedPan'].first}" %>
<%= erb :head%>

<div class='w3-container w3-margin'>
	<ul class="w3-ul w3-card-4">
		<li class="w3-bar" >
		<span onclick='location.replace("./")' class="w3-bar-item w3-button w3-white w3-xlarge w3-left w3-middle" style="vertical-align: middle;"><</span>
			<img src="./public/<%=$currencies[@account_info['currencyCode'].to_s]%>.png" class="w3-bar-item w3-circle w3-hide-small" style="width:81px">
			<div class="w3-bar-item">
				
				<span class="w3-large"><%= @account_info['balance'].to_f/100%> <%=$currencies[@account_info['currencyCode'].to_s]%> <b><%=@account_info['type'].upcase%></b></span><br>
				<span><%=@account_info['maskedPan'].first.gsub('******','*') %></span>
			</div>
		</li>
	</ul>
</div>

<div class='w3-container w3-margin'>
		<h1>Transactions History:</h1>
		<%
		@table_content = {}
		@table_content['content'] = @statements.map { |stat| [ Time.at(stat['time']).strftime("%d.%m.%Y"), stat['amount'].to_f/100, stat['description'], stat['balance'].to_f/100] }
		@table_content['headers'] = ['Time', 'Amount', 'Description', 'Balance']
		@table_content['width'] = [20,20,40,20]
		%>
		<%= erb :table %>
</div>